<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BugTracker" 
         connectionString="Data Source=DESKTOP-BAGEP96\MSSQLSERVER01;Initial Catalog=BugTracker;Integrated Security=True" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>

<!--"providername ="System.Data.SqlClient"


  <connectionStrings>
    <add name ="BugTracker" connectionString="DESKTOP-BAGEP96\MSSQLSERVER01;Database=BugTraker;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->